#coin,
#message,
#score {
    border-radius: .4rem;
}

p {
    font-size: 1.5rem;
}

.btn {
    font-size: 1.5rem;
}

.btn:active {
    background-color: #059CE8 !important;
}

.refresh {
    font-size: 4rem;
    cursor: pointer;
    transition: .2s all linear;
}

.refresh:hover {
    color: #00a6ff !important;
}