* {
    font-family: monospace, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    font-size: 1.5rem;
}

.title{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #059CE8;
    border-radius: 100px;
    width: 42%;
    margin: 3%;
}

.btn {
    background-color: #059CE8;
    border-radius: .4rem;
    border: 0;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 1.5rem 2.5rem;
    margin: .2rem .5rem;
    transition: background-color .2s;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn:hover {
    background-color: #09425e;
}

.btn:active {
    background-color: #059CE8;
}

i {
    visibility: hidden;
    font-size: 4rem !important;
    margin: 1rem 0;
    cursor: pointer;
    transition: all .2s;
}

i:hover {
    color: #059CE8 !important;
}


body {
    background-color: #dba54f;
}

h1{
    color: white;
}